@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: auto 0;
  font-family: "Inter", sans-serif;
  width: 100vw;
  background: #0099ff;
}
.container {
  text-align: center;
  width: 20vw;
  margin: 100px auto;
  height: 77vh;
  background: #263845;
  color: #fff;
  border-radius: 55px;
  border: solid 15px;
  border-color: #3c5c6eed;
}
#title {
  font-size: 15px;
  margin-top: -4px;
}
.block {
  margin: 25px auto;
  width: 80%;
}
span {
  color: #ff8e53;
}
fotter {
  display: flex;
  height: 30vh;
}
.gray {
  color: gray;
}
footer {
  margin: 0 auto;
  width: 18vw;
}
footer div {
  display: flex;
  background: #2f4452;
  margin: auto;
  margin-top: 35px;
  width: 15vw;
  margin: 0 auto;
}
.logo {
  width: 165px;
  margin: 35px auto 0 auto;
}
.btn {
  padding: 10px;
  text-align: center;
  border: 0px;
  background: transparent;
  color: #fff;
  width: 50%;
  cursor: pointer;
  border: 1px solid #2f4452;
}
.btn:focus {
  transition: all 0.4s;
  border: 1px solid #3c5c6eed;
  background: #364e5f;
}
@media (max-width: 850px) {
  body {
    margin: auto 0;
    font-family: "Inter", sans-serif;
  }
  .container {
    text-align: center;
    width: 100vw;
    margin: 0px auto;
    height: 100vh;
    background: #263845;
    color: #fff;
    border-radius: 0px;
    border: solid 0px;
  }
  .block {
    margin: 0px auto;
    width: 80%;
  }
  footer {
    margin: 0 auto;
    width: 90vw;
  }
  footer div {
    display: flex;
    background: #2f4452;
    margin: auto;
    margin-top: 35px;
    width: 85vw;
    margin: 0 auto;
  }
}
